body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: MozTT, sans-serif; 
  font-weight: normal;
  font-size: 15px;
}


#lookup {
    /*-webkit-border-radius: 50px;
    /*-moz-border-radius: 50px;
    */
    border-radius: 50px;
    
    font-size: 20px;
    
    background-color: #EEE;
    border-bottom-color: #333;
    border-top-color: #333;
    border-width: 1px 0;
    padding: 2px;
    text-align: center;
}

.resultbox {
    background-color: #FFC;
    margin: 1em;
}

#means {
    overflow-y: auto;
}

